* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Montserrat;
  min-width: 320px;
}

/* HEADER STYLES */

/* header {
  padding: 20px;
   background-color: tomato;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  flex-basis: 20%;
  position: absolute;
  z-index: 2;
}

header h2 {
  cursor: default;
} */

header {
  width: 100%;
}

nav {
  position: fixed;

  width: 100%;
  line-height: 60px;
  opacity: 0.6;
  z-index: 2;
}

nav ul {
  line-height: 60px;
  list-style: none;
  background: rgba(0, 0, 0, 0);
  overflow: hidden;
  color: #fff;
  padding: 0;
  text-align: right;
  margin: 0;
  padding-right: 40px;
  transition: 1s;
}

nav.black ul {
  background: #000;
}

nav ul li {
  display: inline-block;
  padding: 16px 40px;
  text-align: center;
}

nav ul li a {
  text-decoration: none;
  color: #fff;
  font-size: 16px;
}

.menu-icon {
  line-height: 60px;
  width: 100%;
  background: #000;
  text-align: right;
  box-sizing: border-box;
  padding: 15px 24px;
  cursor: pointer;
  color: #fff;
  display: none;
}

/* .links {
  margin-right: 20px;
}

.links ul li {
  display: inline-block;
  padding-top: 5px;
}

.links ul li a {
  text-decoration: none;
  margin-left: 10px;
  color: white;
  border-bottom: 0px solid white;
  transition: border 150ms, padding 150ms;
}

.links ul li a:hover {
  border-bottom: 2px solid white;
  padding-bottom: 5px;
} */

/* LANDING STYLES */

#landing {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../img/zdj2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  padding: 200px 20px;
  z-index: 1;
}

#landing h1 {
  position: absolute;
  top: 400px;
  left: 200px;
  font-size: 50px;
  font-family: roboto;
  color: white;
  text-transform: uppercase;
  z-index: 0;
}

#landing h2 {
  color: white;
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 40px;
  font-family: roboto;
  z-index: 0;
}

.photo {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  margin: auto;
  width: 60%;
  padding: 50px 15px;
  background-color: rgb(108, 166, 89);
  border-radius: 4px;
  box-shadow: 4px 4px 8px black;
}

.info {
  width: 60%;
  padding: 15px;
}

.info p {
  padding: 10px 0;
}

p strong {
  text-align: center;
}

.social {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-top: 40px;
  margin-left: 10px;
  height: 70px;
}

.social a {
  color: white;
  padding-top: 10px;
  transition: color 200ms;
}

.social a:nth-child(1):hover {
  color: rgb(88, 40, 121);
}

.social a:nth-child(2):hover {
  color: rgb(0, 119, 181);
}

/* Projects section */

#projects {
  display: flex;
  flex-direction: column;
  padding: 10px 300px;
}

#projects h1 {
  margin-bottom: 30px;
  border-bottom: 2px solid black;
  padding: 10px 150px;
}

.proj {
  display: flex;
  margin: auto;
  margin-bottom: 40px;
  border: 1px solid black;
  background-color: #fff;
}

.projinfo {
  padding: 20px;
}

.projinfo h2 {
  border-bottom: 4px solid black;
  margin-bottom: 15px;
}

.proj img {
  width: 40%;
  /* height: 100%; */
  align-self: center;
}

/* Contacts section */

#contact {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 80px;
  background-color: LightSlateGray;
}

#contact h1 {
  flex-basis: 100%;
  flex-wrap: wrap;
  margin-bottom: auto;
  color: white;
  padding-bottom: 30px;
  text-align: center;
}

/* #contact form {
  display: flex;
  flex-direction: column;
} */

.contact-data {
  margin-top: 100px;
}

.contact-data p {
  font-size: 26px;
  padding-bottom: 20px;
  color: white;
  text-align: center;
}

/*Footer Styles */
footer {
  display: flex;
  width: 100%;
  padding: 10px;
  background-color: gray;
}

footer p {
  width: fit-content;
  margin-left: auto;
  font-weight: bold;
}

#abilites {
  display: flex;
  flex-direction: column;
  padding: 10px 300px;
}

#abilites h2 {
  /* margin-bottom: 30px; */
  padding: 5px 100px;
  /* border-bottom: 2px solid black; */
}

#abilites h1 {
  font-family: Montserrat;
  border-bottom: 2px solid black;
  padding: 20px 150px;
  margin-bottom: 100px;
}

.features {
  display: flex;
  flex-wrap: wrap;
  height: 100vh;
  margin-top: 0;
  margin-bottom: 0;
  justify-content: space-between;
}

.features h1 {
  font-family: Montserrat;
  font-size: 26px;
  text-transform: uppercase;
  margin-bottom: 15px;
}

.features h2 {
  font-family: "Saira Condensed", sans-serif;
  font-size: 18px;
  text-transform: uppercase;
}

.features p {
  font-family: "Saira", sans-serif;
  font-size: 12px;
  font-weight: 300;
  margin: 20px 0;
}

.features img {
  width: 50%;
  height: 50%;
  margin: 5px 0;
  max-width: 450px;
}

.feature {
  display: flex;
  flex-basis: 33%;
  justify-content: center;
  flex-wrap: wrap;
}

#learning {
  display: flex;
  flex-direction: column;
  padding-left: 300px;
  padding-right: 300px;
  padding-bottom: 10px;
  padding-top: 10px;
}

#learning h1 {
  margin-bottom: 30px;
  border-bottom: 2px solid black;
  padding: 20px 150px;
}

#learning h2 {
  margin-bottom: 30px;
  /* border-bottom: 2px solid black; */
  padding: 10px 100px;
}

#learning img {
  width: 50%;
  height: 50%;
}

.features2 {
  display: flex;
  flex-wrap: wrap;
  height: 50vh;
  flex-wrap: wrap;
  /* padding: 10px 300px; */
  /* justify-content: space-between; */
}

.features2 h2 {
  font-family: "Saira Condensed", sans-serif;
  font-size: 18px;
  text-transform: uppercase;
}

@keyframes jump {
  0% {
    top: 93%;
  }

  50% {
    top: 95%;
  }

  100% {
    top: 93%;
  }
}

#arrow-down {
  left: 50%;
  position: absolute;
  margin: 0 auto;
  text-align: center;
  animation: jump 2s infinite;
  font-size: 40px;
  color: white;
}

#me {
  display: flex;
  flex-direction: column;
  /* flex-wrap: wrap; */
  padding: 10px 300px;
  height: 50vh;

  /* padding: 200px 20px; */
}

#me h1 {
  font-family: Montserrat;
}

.tittle h1 {
  margin-bottom: 30px;
  padding: 20px 150px;
  border-bottom: 2px solid black;
}

.img {
  display: flex;
}

.img img {
  margin-top: 20px;
  margin-left: 150px;
  flex-wrap: wrap;
  height: 200px;
  border-radius: 50%;
  box-shadow: 2px 2px 8px rgb(46, 46, 46);
}

.img p {
  padding: 20px 100px;
}

.social2 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  /* flex-basis: 50%; */
  margin-top: 180px;
  margin-left: 10px;
  height: 70px;
}

.social2 a {
  padding-left: 50px;
  padding-right: 50px;
}

.social2 a:nth-child(1) {
  color: rgb(88, 40, 121);
}

.social2 a:nth-child(2) {
  color: rgb(0, 119, 181);
}

@media (min-width: 320px) {
  body {
    width: 100%;
  }

  header {
    /* display: none; */
    width: 100%;
  }

  nav {
    min-width: 320px;
  }

  #arrow-down {
    display: none;
  }

  #landing {
    width: 100%;
    height: 100vh;
    background-size: cover;
  }

  #landing h1 {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 20px;
  }

  #landing h2 {
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 16px;
  }

  #me {
    flex-direction: column;
    padding: 0;

    height: 100vh;
    height: 568px;
    width: 100%;
  }

  .tittle h1 {
    margin-bottom: 0;
    padding: 20px 0 0;
    border-bottom: 2px solid black;
  }

  .img {
    flex-direction: column;
  }

  .img img {
    flex-basis: 100%;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    flex-wrap: wrap;
  }

  .img p {
    padding: 60px 20px;
    font-size: 20px;
  }

  #abilites {
    display: flex;
    flex-direction: column;
    padding: 0;
    width: 100%;

    height: 200vh;
  }

  #abilites h1 {
    margin-bottom: 30px;
    padding: 20px 0 0;
    text-align: center;
    border-bottom: 2px solid black;
  }

  .feature {
    flex-basis: 100%;
    justify-content: center;
    flex-wrap: wrap;
  }

  .feature h2 {
    text-align: center;
    max-width: 320px;
  }

  .features2 {
    flex-basis: 100%;
    justify-content: center;
    flex-wrap: wrap;
  }

  .features2 .feature {
    width: 100%;
  }

  .features2 .feature h2 {
    text-align: center;
    padding: 0;
  }

  #learning {
    flex-direction: column;
    width: 100%;
    height: 568px;
    height: 150vh;
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 0;
    padding-top: 150px;
  }

  #learning h1 {
    margin-bottom: 30px;
    padding: 120px 0 0;
    border-bottom: 2px solid black;
    text-align: center;
  }

  /* #learning h2 {
    text-align: center;
  } */
  #projects {
    padding: 0;
    width: 100%;
    height: 568px;
    height: 560vh;
    margin-top: 50px;
  }

  #projects h1 {
    margin-bottom: 30px;
    padding: 120px 0 0;
    text-align: center;
    /* padding-bottom: 20px; */
    border-bottom: 2px solid black;
  }

  #contact {
    padding: 0;
    height: 568px;
    width: 100%;
    background-color: LightSlateGray;
  }

  #contact h1 {
    flex-basis: 100%;
    flex-wrap: wrap;
    margin-bottom: auto;
    color: white;
    padding: 20px 0 0;
    text-align: center;
  }

  #contact p {
    font-size: 20px;
  }
}

@media (min-width: 360px) {
  nav {
    width: 100%;
  }

  #landing {
    width: 100%;
    height: 100vh;
    background-size: cover;
  }

  #arrow-down {
    display: none;
  }

  #landing h1 {
    font-size: 20px;
  }

  #abilites {
    height: 190vh
  }

  .features2 {
    flex-basis: 100%;
    justify-content: center;
    flex-wrap: wrap;
  }

  .features2 .feature {
    width: 100%;
  }

  .features2 .feature h2 {
    text-align: center;
  }

  #learning {
    padding-top: 110px;
    height: 140vh;
  }

  #projects {
    margin-top: 20px;
    padding: 0;
    height: 410vh;
  }

  #projects h1 {
    margin-bottom: 30px;
    padding: 120px 0 0;
    text-align: center;
    /* padding-bottom: 20px; */
    border-bottom: 2px solid black;
  }

  .proj {
    margin-top: 20px;
  }

  .projinfo p {
    font-size: 16px;
  }
}



@media (min-width: 410px) {
  #landing {
    width: 100%;
    height: 100vh;
    background-size: cover;
  }

  #landing h1 {
    font-size: 25px;
  }

  #landing h2 {
    font-size: 20px;
  }

  .img img {
    height: 250px;
  }

  .img p {
    font-size: 25px;
  }

  .features2 {
    flex-basis: 100%;
    justify-content: center;
    flex-wrap: wrap;
  }

  .features2 .feature {
    width: 100%;
  }

  #abilites {
    padding-top: 50px;
    height: 200vh;
  }

  .features2 .feature h2 {
    text-align: center;
  }

  #learning {
    padding-top: 50px;
    height: 140vh;
  }

  #projects {
    margin-top: 0;
    padding: 0;
    height: 400vh;
  }

  #projects h1 {
    margin-bottom: 30px;
    padding: 50px 0 0;
    text-align: center;
    /* padding-bottom: 20px; */
    border-bottom: 2px solid black;
  }

  .proj {
    margin-top: 20px;
  }

  .projinfo h2 {
    font-size: 30px;
  }

  .projinfo p {
    font-size: 18px;
  }

  .projinfo a {
    font-size: 20px;
  }
}

@media (min-width: 480px) {
  #abilites {
    height: 250vh;
  }
}

@media only screen and (min-width: 568px) and (orientation: landscape) {
  #landing h1 {
    font-size: 16px;
  }

  #landing h2 {
    font-size: 12px;
  }

  #me {
    height: 200vh;
  }

  #me h1 {
    text-align: center;
  }

  #abilites {
    height: 600vh;
  }

  #abilites .feature {
    flex-basis: 100%;
    flex-wrap: wrap;
  }

  #abilites .feature img {
    flex-basis: 50%;
  }

  #abilites .feature h2 {
    flex-basis: 51%;
  }

  #learning {
    height: 400vh;
  }

  #learning .features2 .feature img {
    flex-basis: 50%;
  }

  #learning .features2 .feature h2 {
    flex-basis: 51%;
  }

  #projects {
    height: 750vh;
  }
}

@media (min-width: 600px) {
  #landing h1 {
    font-size: 40px;
  }

  #landing h2 {
    font-size: 35px;
  }

  #me {
    height: 80vh;
  }

  #me .tittle {
    text-align: center;
    font-size: 30px;
  }

  .social2 a {
    font-size: 25px;
  }

  .img img {
    height: 300px;
  }

  .img p {
    font-size: 30px;
  }

  #abilites {
    height: 250vh;
  }

  #abilites .feature img {
    flex-basis: 55%;
  }

  .feature h2 {
    font-size: 30px;
  }

  #learning {
    height: 150vh;
  }

  #learning .feature img {
    flex-basis: 55%;
  }

  #projects {
    height: 260vh;
  }

  .contact-data p {
    font-size: 30px;
  }
}

@media only screen and (min-width: 640px) and (orientation: landscape) {
  #landing h1 {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 20px;
  }

  #landing h2 {
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 15px;
  }

  #me {
    flex-direction: column;
    padding: 0;
    height: 130vh;
    width: 90%;
    margin: auto;
  }

  #me h1 {
    font-size: 40px;
  }

  .img img {
    height: 150px;
    margin-top: 30px;
  }

  .img p {
    font-size: 16px;
  }

  .social2 a {
    font-size: 15px;
  }

  #abilites {
    height: 180vh;
    width: 90%;
    margin: auto;
  }

  #abilites h1 {
    font-size: 20px;
  }

  #abilites .features .feature {
    flex-basis: 50%;
  }

  #abilites .features .feature img {
    flex-basis: 40%;
  }

  #abilites .features .feature h2 {
    flex-basis: 30%;
    font-size: 14px;
  }

  #learning {
    height: 200vh;
    width: 90%;
    margin: auto;
  }

  #learning .features2 {
    flex-basis: 100%;
  }

  #learning .features2 .feature {
    flex-basis: 10%;
  }

  #learning .features2 .feature img {
    flex-basis: 23%;
  }

  #learning .features2 .feature h2 {

    font-size: 15px;
  }

  #projects {

    height: 680vh;
    width: 90%;
    margin: auto;
  }
}



@media (min-width: 768px) {
  #landing h1 {
    font-size: 45px;
  }

  #landing h2 {
    font-size: 40px;
  }

  #abilites {
    height: 300vh;
  }

  #abilites h1 {
    font-size: 50px;
  }

  #abilites .feature {
    flex-wrap: wrap;
    flex-basis: 100%;
  }

  #abilites .feature img {
    flex-basis: 59%;
  }

  #abilites .feature h2 {
    flex-basis: 55%;
  }

  #me .social2 a {
    font-size: 36px;
  }

  #learning {
    height: 180vh;
  }

  #learning h1 {
    font-size: 50px;
  }

  #learning .feature img {
    flex-basis: 59%;
  }

  #learning .feature h2 {
    flex-basis: 50%;
  }

  #projects h1 {
    font-size: 50px;
  }

  #projects {
    height: 200vh;
  }
}

@media only screen and (min-width: 800px) and (orientation: landscape) {
  #landing h1 {
    font-size: 30px;
  }

  #landing h2 {
    top: 60%;
    font-size: 22px;
  }

  #abilites {
    height: 200vh;
  }

  #me .social2 a {
    font-size: 20px;
  }

  #projects {
    height: 580vh;
  }

  #learning .features2 .feature {
    flex-basis: 40%;
  }
}

@media (min-width: 900px) {
  #landing h1 {
    font-size: 45px;
  }

  #landing h2 {
    font-size: 30px;
  }

  #me {
    height: 110vh;
  }

  #abilites {
    height: 130vh;
  }

  #abilites .features {
    width: 91%;
    margin: 20px auto;
  }

  #abilites .feature {
    flex-basis: 50%;
  }

  #abilites .feature img {
    flex-basis: 51%;
  }

  #abilites .feature h2 {
    flex-basis: 51%;
  }

  #learning {
    height: 120vh;
  }

  #learning .features2 {
    flex-basis: 100%;
  }

  #learning .feature {
    flex-basis: 50%;
  }

  #learning .features2 img {
    flex-basis: 50%;
  }

  #learning .features2 h2 {
    flex-basis: 33%;
  }

  #projects {
    height: 350vh;
  }

  #projects .proj {
    width: 90%;
    flex-basis: 33%;
  }
}



@media only screen and (min-width: 800px) and (orientation: landscape) {
  #me .img p {
    font-size: 22px;
  }
}

@media (min-width: 1200px) {
  #landing h2 {
    top: 60%;
    font-size: 30px;
  }

  header {
    display: flex;
  }

  #me {
    height: 110vh;
    width: 70%;
    margin: auto;
  }

  #me h1 {
    font-size: 50px;
  }

  #me .img p {
    font-size: 30px;
  }

  #me .img img {
    height: 30vh;
    width: 20%;
  }

  .social2 a {
    font-size: 40px;

  }

  #abilites {
    height: 110vh;
    width: 80%;
    margin: auto;
  }

  #abilites h1 {
    font-size: 50px;
  }



  #abilites .features .feature {
    flex-basis: 33%;
  }

  #abilites .features .feature img {
    flex-basis: 50%;
  }

  #abilites .features .feature h2 {
    flex-basis: 33%;
    font-size: 25px;
  }

  #arrow-down {
    display: block;
  }

  #learning {
    height: 120vh;
    width: 80%;
    margin: auto;
    padding-top: 0;
  }

  #learning .features2 {
    flex-basis: 100%;
  }



  #learning .features2 .feature img {
    flex-basis: 51%;
  }

  #learning .features2 .feature h2 {
    flex-basis: 100%;
    font-size: 25px;
  }

  #projects {
    height: 290vh;
    width: 80%;
    margin: auto;
  }

  .projinfo h2 {
    font-size: 35px;
  }

  .projinfo p {
    font-size: 20px;
  }

  .projinfo a {
    font-size: 30px;
    text-decoration: none;
  }
}

/* @media (min-width: 1366px) and (min-height: 1024px) {
  #learning {
    height: 100vh;
  }

  #projects {
    height: 540vh;
  } */


@media (min-width: 1600px) {
  #landing h2 {
    top: 55%;
  }

  #me {
    width: 70%;
    margin: auto;
    height: 100vh;
  }

  .social2 a i {
    font-size: 80px;
  }

  #abilites {
    width: 70%;
    height: 80vh;
    margin: auto;
  }

  #abilites .features {
    width: 91%;
    flex-basis: 100%;
  }

  #learning {
    width: 70%;
    margin: auto;
    height: 100vh;
  }

  #learning .features2 {
    flex-basis: 100%;
  }



  #learning .features2 .feature img {
    flex-basis: 51%;
  }

  #learning .features2 .feature h2 {
    flex-basis: 100%;
  }

  #projects {
    width: 70%;
    margin: auto;
    height: 240vh;
  }
}





@media (max-width: 786px) {
  nav ul {
    max-height: 0px;
    background: #000;
    z-index: 1;
  }

  nav.black ul {
    background: #000;
  }

  .showing {
    max-height: 80vh;
    margin: 0;
    padding: 0;
  }

  nav ul li {
    box-sizing: border-box;
    width: 100%;
    padding: 0;
  }

  .menu-icon {
    display: block;
    padding: 0;
  }

  .menu-icon i {
    padding-right: 20px;
    padding-top: 20px;
  }
}